.wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.sqrrel-brand {
	font-family: 'Lusitana', serif;
	margin-top: 100px;
	margin-bottom: 40px;
}

.sqrrel-brand h1 {
	font-size: 80px;
	font-weight: 700;
	text-align: center;
}

.sqrrel-brand h2 {
	font-size: 40px;
	font-weight: 400;
	text-align: center;
}

.sqrrel-brand-navbar {
	font-family: 'Lusitana', serif;
	font-size: 24px;
}

.sqrrel-brand-sm {
	font-family: 'Lusitana', serif;
	margin-top: 30px;
	margin-bottom: 15px;
}

.sqrrel-brand-sm h1 {
	font-size: 60px;
	font-weight: 700;
	text-align: center;
}

.sqrrel-brand-sm h2 {
	font-size: 30px;
	font-weight: 400;
	text-align: center;
}

#tweetboard-main {
	background: #f2f2f2;
	height: 100vh;
	overflow: auto;
}

#dashboard-main {
	background: #f2f2f2;
	height: 100vh;
	overflow: auto;
}

#board {
	background: #f2f2f2;
	margin-top: 70px;
}

.hide {
	display: none;
}

.thumbnail_todo {
	background-color: white;
}

.thumbnail_note {
	background-color: white;
}

hr {
	border-color: black;
}

.input_query {
	padding: 4px;
	line-height: 1.428571429;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	        transition: all .2s ease-in-out;
}

.input_todo {
	padding: 4px;
	line-height: 1.428571429;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	        transition: all .2s ease-in-out;
}

.input_note_title {
	padding: 4px;
	line-height: 1.428571429;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	        transition: all .2s ease-in-out;
}

.input_note_content {
	padding: 4px;
	line-height: 1.428571429;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	        transition: all .2s ease-in-out;
}

footer {
	margin-top: 20px;
}

.drag_tweets {
	padding: 4px 4px 4px 4px;
}